global
    log stdout format raw local0
    maxconn 100000
    tune.bufsize 65536
    tune.maxrewrite 0

defaults
    mode tcp
    log global
    option tcplog
    option dontlognull
    option splice-auto
    option tcp-smart-accept
    timeout connect 10s
    timeout client 10s
    timeout server 10s
    timeout tunnel 15s

frontend fptn_front
    bind *:443
    mode tcp

    stick-table type ip size 200k expire 10s store conn_cur,conn_rate(1s)
    tcp-request connection track-sc0 src
    tcp-request connection reject if { sc_conn_rate(0) gt 30 }

    tcp-request inspect-delay 700ms
    tcp-request content accept if { req.len gt 0 }
    tcp-request content reject if { req.len eq 0 }

    default_backend fptn_back

backend fptn_back
    mode tcp
    server fptn 127.0.0.1:4430
